.plannerWrapper {
    width: calc(100vw - 60px);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
}

.plannerRow {
    display: flex;
    width: auto;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
    background-color: aquamarine;
    padding: 10px;
    box-shadow: aquamarine 0px 2px 8px;
    border: 1px solid darkcyan;
    border-radius: 3px;
}

.plInputWrapper {
    margin: 0px 5px;
}

.plInput {
    width: 80%;
    height: 34px;
    font-weight: bold;
    padding: 5px;
    font-size: 23px;
    border: 1px solid aquamarine;
    border-radius: 5px;
    background-color: lavender;
    box-shadow: 0px 0px 4px darkseagreen;
}

.plInput:focus {
    outline: none;
}

.delPlanBtn {
    -webkit-appearance: none;
    height: 46px;
    font-weight: bold;
    padding: 5px 17px;
    font-size: 23px;
    background-color: orangered;
    border: none;
}