.plannerWrapper {
    width: calc(100vw - 60px);
    display: flex;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    flex-direction: column;
    -ms-overflow-style: none;
}

.plannerWrapper::-webkit-scrollbar {
    display: none;
}

button.MuiButtonBase-root.MuiFab-root.MuiFab-primary {
    position: absolute;
    bottom: 84px;
    right: 30px;
    width: 56px;
    height: 56px;
}

.plannerWrapper .MuiSvgIcon-root {
    width: 38px;
    height: 38px;
}